body, .header__title, .main__section-title, .main__section-text, .header__nav, .header__nav-link {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.header__title, .main__section-title, .main__section-text {
  margin-bottom: 1rem;
}

.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

.header__nav-link {
  color: #333;
  margin: 0 10px;
}

.header__nav-link:hover {
  color: #007bff;
}

.header__nav-link::after {
  content: "|";
  padding: 0 10px;
}

.header__nav-link:last-child::after {
  content: none;
}

.main {
  padding: 20px;
}

/* Estilos de galería de images */

.main__section-galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.main__section-galeria-img {
  margin: 1rem;
  width: calc(20% - 2rem);
}

/* Estos son los estilos del formulario */
#contact-form {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input, .form-group textarea {
  width:100%;
  padding: 8px;
  box-sizing: border-box;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.footer {
  background-color: #b7adadc4;
  text-align: center;
  padding: 20px;
  position: fixed;
  left:0;
  bottom: 0;
  width: 100%;
}
/* Notebook*/

@media (max-width: 1200px) {
  .main__section-galeria-img {
    margin: 1rem;
    width: calc(25% - 2rem);
  }
}

/* Tablet */
@media (max-width: 992px) {
  .main__section-galeria-img {
    margin: 1rem;
    width: calc(33.333% - 2rem);
  }
}

@media (max-width: 778px) {
  .main__section-galeria-img {
    margin: 1rem;
    width: calc(50% - 2rem);
  }
}

@media (max-width: 576px) {
  .main__section-galeria-img {
    margin: 1rem;
    width: calc(100% - 2rem);
  }


}
@media (max-width: 369px) {

  .header__nav-link {
    display: block;
    margin: 0.5rem 0;
  }
  
  .header__nav-link::after {
    content: none;
  }
  
  .main {
    padding: 1rem;
  }

}
